.skills {
    width: 100%;
    display: flex;
    color: #fff;

    &-heading {
        padding: 10px 20px;

        p {
            background: -webkit-linear-gradient(#eee, #377453);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    @media (max-width: 768px)  {
        flex-direction: column;
    }
}