.about {
    display: flex;
    justify-content: center;

    @media (max-width: 768px)  {
        flex-direction: column;
    }

    &-image {
        width: 80%;
        img {
            width: 100%;
        }
        @media (max-width: 768px)  {
            margin: auto;
        }
    }
    &-heading {
        text-align: center;
        width: 90%;
        h1 {
            font-size: 5vw;
            @media (max-width: 768px)  {
                font-size: 7vw;
            }
        }
        &-h1_grey {
            color: #333;
        }
        @media (max-width: 768px)  {
            margin: auto;
        }
    }
}